ul,li,p{
	margin: 0px;
	padding: 0px;
}
.wrapper{
	width: 400px;
	height: 400px;
}
li{
    margin: 16px;
	list-style: none;
	width: 100px;
    height: 100px;
    float: left;
}
.back{
	background: url("item.jpg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.face{
font-size:18px;
}
